:root {
    --toastify-icon-color-error: var(--error-color);
}

.Toastify__toast {
    border-radius: 0;
    background-color: var(--background-color);
    font-family: 'Montserrat', serif;
    font-size: 18px;
    color: var(--text-color);
    outline: 2px solid var(--accent-color);
}

.Toastify__toast--error {
    outline: 2px solid var(--error-color);
}

.Toastify__close-button {
    display: none
}