.round tbody tr {
    height: 80px;
}

.round td {
    box-shadow: inset 0 0 20px 15px rgba(0, 0, 0, 0.5);
    font-family: 'Oswald', serif;
    font-size: 36px;
    text-align: center;
}

.round tr td:nth-child(1) {
    width: 30%;
}

.round td.question-cell:hover {
    outline: 5px solid var(--accent-color);
}

.round td.question-cell:active {
    color: var(--primary-color);
    background-color: var(--accent-color);
}

.round td.question-cell.empty {
    color: rgba(0, 0, 0, 0);
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}